body {
    color: black;
    background-color: powderblue;
}

.tropical {
    font-family: fantasy;
    color: #f7325e;
}

    

.trops {
    display: inline;
    
}

.popular {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
}


.pop {
    display: inline;
    
}
a:hover {
    background-color: gold;
    
}