body {
    color: black;
    background-color: #84C5BC;
    display: grid;
}
h1{
    text-align: center;
    color: blanchedalmond;
}

.tropical {
    font-family: fantasy;
    color: blanchedalmond;
    text-align: left;
    border: #cf5261 double 4px;
    background-color: #B56357;
}
.tropical h1{
    color: black;
    text-align: left;
}

    

.trops {
    display: inline;
    
}

.popular {
    font-family: fantasy;
    color: blanchedalmond;
    text-align: left;
    border: #cf5261 double 4px;
    background-color: #B56357;
}
.popular h1{
    color: black;
    text-align: left;
}
p {
    font-size: medium;
}




.pop {
    display: inline;
    
}
a:hover {
    background-color: gold;
    
}
.contact{
    display: block;
    height: 200px;
    background-color: #19292f;
    color: blanchedalmond;

}

.contact h1{
    color: black;
    text-align: left;
    
}
.contacts{
    
    display: inline-block;
}

.contacts div{
    display: inline-block;
    padding-right: 200px;
}